@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: #0b090a; */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./images/quinton-coetzee-u-n1AFjUclo-unsplash.jpg);
  background-position-y: -550px;
  background-size: cover;
  overflow-x: hidden;
}
section {
  height: 100vh;
}
/* ----------------
scroll button
---------------- */
/* scroll button */
#myBtn {
  color: #fff;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  cursor: pointer;
  font-size: 40px;
}

/* =====================
join us
===================== */
#join {
  display: none;
  position: fixed;
  bottom: 20px;
  left: 10px;
  z-index: 99;
  cursor: pointer;
}
.join_us {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #fff;
  font-size: 12px;
  font-weight: 900;
  letter-spacing: 1px;
  padding: 7px 12px;
  background-color: #ff4848;
  border: solid #ff4848 4px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.join_us:hover {
  background: #ff4848;
  border: solid #9c0f0f 4px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
  color: #fff;
}
@media (max-width: 1025px) {
  .join_us {
    font-size: 10px;
    padding: 4px 8px;
  }
}

/* Hero-Image Styling */
.hero {
  height: 44vh;
  /* background-color: line; */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./images/contact-bg.jpg);
  background-position: center;
  background-size: cover;
}
h1.title {
  font-size: 45px;
  font-weight: 200;
  letter-spacing: 1px;
  padding-bottom: 80px;
  position: relative;
  bottom: 50%;
  top: 60%;
  left: 50%;
  z-index: 3;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  white-space: nowrap;
}
/* Hero-Image Styling ends here */

/* links and button styling starts here */
/*.content button {
  display: inline-block;
  padding: 14px 30px;
  text-decoration: none;
  color: #243342;
  letter-spacing: 1.2px;
  font-size: 14px;
  border: 1px solid #243342;
  border-radius: 7px;
  margin-right: 20px;
  transition: 0.15s ease-in-out;
}
.content a.focus,
.content button {
  color: white;
  background: #243342;
}
.content a.focus:hover,
.content button:hover {
  cursor: pointer;
  color: black;
}*/
.content a:hover {
  /* background-color: #243342; */
  color: black;
}

.content a.active {
  color: white;
  font-weight: 500;
}
/* links and button styling ends here */

/* box styling starts here */
.content {
  /* position: relative; */
  /* top: 60px; */
  /* height: calc(100vh - 100px);
  width: 100vw; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* overflow: auto; */
  padding-top: 50px;
  /* z-index: 2; */
  /* background-color: #252727; */
  color: #fff;
}

.contact {
  width: 80%;
  max-width: 1080px;
  display: flex;
  /* box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.28); */
  border-radius: 5px;
  overflow: hidden;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: rgb(28, 107, 133) 0px 15px 20px -10px;
}
/* box styling ends here */

/* left box styling starts here */
.other {
  text-align: center;
  width: 30%;
  background-image: url(./images/DJI_0151.80c176fd.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.other:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.85), transparent);
}

.info h2 {
  color: #ffffff;
  font-size: 34px;
}

.info h3 {
  color: white;
  letter-spacing: 1.2px;
  margin-top: 20px;
}

.svg-wrap {
  display: inline-flex;
  margin-top: 14px;
}

.svg-wrap a {
  border: 0;
  padding: 0;
  display: flex;
  color: #bbbbbb;
  font-size: 16px;
  justify-content: center;
  align-items: center;
  font-style: italic;
}

.svg-wrap a svg {
  width: 20px;
  height: 20px;
  fill: white;
  transition: fill 0.2s ease-in-out;
  margin-right: 13px;
}

.svg-wrap a:hover svg {
  fill: #16f1dc;
  cursor: pointer;
}

.svg-wrap a:hover {
  background-color: transparent;
  color: #16f1dc;
  cursor: pointer;
}

.info {
  position: relative;
  padding: 20px;
}
/* left box styling ends here */

/* form styling starts here */
.form {
  width: 40%;
  background-color: #111;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.form h1 {
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
}
.form form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.flex-rev {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 10px;
  width: 100%;
}

.flex-rev input,
.flex-rev textarea {
  border: none;
  background-color: #2e3133;
  padding: 12px 10px;
  font-size: 16px;
  resize: none;
  margin-top: 7px;
  margin-bottom: 16px;
  border-radius: 5px;
  color: #ffffff;
  outline-color: #243342;
  outline-width: thin;
  -webkit-appearance: none;
}
.flex-rev textarea {
  height: 150px;
}
button {
  -webkit-appearance: none;
  margin-right: 0;
}
/* form styling ends here */

.map {
  width: 30%;
}

@media screen and (max-width: 900px) {
  .body{
    background-image: none;
    background-color: #0b090a;
  }
  .content {
    padding: 10px 0 0;
    display: block;
  }
  .map {
    margin-top: 2vh;
    width: 100%;
    height: 50vh;
  }
  .contact {
    width: 100%;
    flex-direction: column;
    border-radius: 0;
    box-shadow: 0px 0px 0px 0px;
  }
  .other {
    display: none;
  }
  .form {
    width: 100%;
  }
  h1.title {
    font-size: 30px;
  }
  .new_footer_top {
    margin-top: 50vh;
  }
}

@media screen and (max-height: 660px) {
  .content {
    align-items: flex-start;
  }
}
