@media (max-width:850px) {
    .intro-Carousal-container {
        display:flex;
        flex-direction: column;
    }
    .blogCarousal {
        width:100%;
    }
    .blogIntroContent {
        width: 100%;
        padding: 0;
        margin: 0;
        padding-top: 2.5em;
        display:flex;
        flex-direction: column;
        justify-content: center;
    }
    #button {
        justify-content: center;
    }
}

@media only screen and (min-width:1000px) and (max-width:1250px) {
    /* body {
        background-color: red;
    } */
    .box {
        width: 230px;
        height: 458px;
        border-radius: 20px;
    }
    #biggerbox {
        height: 937px;
    }
    #galary-container {
        /* justify-content: space-evenly; */
        margin: 40px auto;
    }
}

@media only screen and (min-width:850px) and (max-width:1000px) {
    /* body {
        background-color: yellow;
    } */
    #blog-heading {
        height: 25vh;
    }
    #paragraph p {
        margin-top: 8px;
        font-size: 1.1rem;
    }
    #introduction {
        margin: 8px;
        height: 550px;
    }
    .box {
        width: 250px;
        height: 497px;
        border-radius: 20px;
    }
    #biggerbox {
        height: 574px;
    }
    #galary-container {
        justify-content: space-evenly;
        margin: 35px 0px;
    }
    .h-primary {
        font-size: 2.2rem;
    }
}

@media only screen and (min-width:450px) and (max-width:850px) {
    /* body {
        background-color: green;
    } */
    #blog-heading {
        height: 20vh;
    }
    #intro-container {
        flex-direction: column;
    }
    #intro-container img {
        width: 100vw;
        box-shadow: none;
    }
    #img {
        width: 100vw;
    }
    #introduction {
        width: 99vw;
        margin: 4px;
        height: 660px;
        padding: 0px;
    }
    #heading h2 {
        margin: 15px;
        text-align: center;
    }
    #paragraph p {
        padding: 10px;
        font-size: 1.3rem;
        text-align: center;
    }
    #btn{
        display: block;
        margin: auto;
    }
    #galary-container {
        flex-direction: column;
        justify-content: space-around;
        margin: 35px 0px;
    }
    #grid-container {
        grid-template-columns: repeat(2, auto);
        gap: 80px;
    }
    .box {
        width: 150px;
        height: 298px;
        border-radius: 20px;
    }
    #biggerbox {
        height: 298px;
    }
    .h-primary {
        font-size: 2.2rem;
    }
}

@media only screen and (min-width:350px) and (max-width:450px) {
    /* body {
        background-color: papayawhip;
    } */
    #blog-heading {
        height: 15vh;
    }
    #intro-container {
        flex-direction: column;
    }
    #intro-container img {
        width: 100vw;
        box-shadow: none;
    }
    #img {
        width: 100vw;
    }
    #introduction {
        width: 99vw;
        margin: 4px;
        height: 560px;
        padding: 0px;
    }
    #heading h2 {
        margin: 5px;
        text-align: center;
    }
    #paragraph p {
        font-size: 1rem;
        text-align: center;
    }
    #btn{
        display: block;
        margin: auto;
    }
    #galary-container {
        flex-direction: column;
        justify-content: space-around;
        margin: 35px 0px;
    }
    #grid-container {
        grid-template-columns: repeat(2, auto);
    }
    .box {
        width: 125px;
        height: 249px;
        border-radius: 20px;
    }
    #biggerbox {
        height: 249px;
    }
    .h-primary {
        font-size: 2.2rem;
    }
}

@media only screen and (max-width:350px) {
    /* body {
        background-color: papayawhip;
    } */
    #blog-heading {
        height: 20vh;
    }
    #intro-container {
        flex-direction: column;
    }
    #intro-container img {
        width: 100vw;
        box-shadow: none;
    }
    #img {
        width: 100vw;
    }
    #introduction {
        width: 99vw;
        margin: 4px;
        height: 750px;
        padding: 0px;
    }
    #heading h2 {
        margin: 5px;
        text-align: center;
    }
    #paragraph p {
        font-size: 1rem;
        text-align: center;
    }
    #btn{
        display: block;
        margin: auto;
    }
    #galary-container {
        flex-direction: column;
        justify-content: space-around;
        margin: 35px 0px;
    }
    #grid-container {
        grid-template-columns: repeat(1, auto);
    }
    .box {
        width: 100px;
        height: 198px;
        border-radius: 20px;
    }
    #biggerbox {
        height: 198px;
    }
    .h-primary {
        font-size: 2.2rem;
    }
}