@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../img/section-title-bg.png);
    background-position: center;
  
    background-size: cover;
}

.text{
    font-size: 18px;
    padding: 20px 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    font-size: 63.5%;
   
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}
.header{
    border-bottom: 1px solid #E2E8F0;
    background-color: rgb(102, 149, 192);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}
.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: #ffffff;
}

.nav-link:hover{
    color: #482ff7;
}

.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #482ff7;
}

/* Heading  */

.heading{
  height: 20vh;
}
.heading::before{
    background: url(../img/map-of-the-world-2401458_1920.jpg) no-repeat center center/cover;
    background-size: 100%;
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 60vh;
    z-index: -1;
    opacity: 0.6;
}
.heading h2{
    text-align: center;
    margin-top: 120px;
    padding-top: 50px;
    font-size: 3rem;
    /* color: rgb(17, 17, 17); */
    /* font-weight: bold; */
    font-style: italic;
}


/*  Card Section  */

.history-box {
  display: flex;
  min-height: 80vh;
  background: #eef;
}

.history-container {
  margin: auto;
  padding: 5em;

}

.flex {
  display: flex;
  gap: 2em;
  justify-content: center;
  flex-flow: row wrap;
}

.flex > * {
  flex-grow: 1;
  flex-basis: 0;
}

.card {
  display: flex;
  flex-direction: column;
  min-width: 30rem;
  max-width: calc(12.5rem + 13vw);
  background: #fff;
  border-radius: 0.75em;
  overflow: hidden;
  box-shadow: 0 0.25em 0.6em #0005, 0 0.65em 1em #0004;
  transition: transform 270ms ease;
  position: relative;
}

.card::before {
  content: "";
  position: absolute;
  display: flex;
  inset: 0;
  isolation: isolate;
  mix-blend-mode: color;
  background: linear-gradient(180deg, #0000 48%, 48%, red, 70%, blue);
  opacity: 0;
}

.card:hover::before {
  opacity: 1;
}
.card:hover {
  transform: scale(1.05);
}

img {
  display: block;
  max-width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  /* height: 60vh; */
  margin-bottom: 1em;
}

.card-body {
  height: 200px;
  padding: 1em 0;
}

h3 {
  text-align: center;
  color: #999fff;
  font-size: 2.6rem;
  margin-bottom: 0.5rem;
}

p {
  color: #0009;
  font-style: italic;
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
  margin: 1em auto;
  padding-inline: 0.5em;
  max-width: 35ch;
}



@media(max-width: 768px) {

  .card {
   
    min-width: 20rem;
    max-width: 300rem;
  }

}



@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");


footer div {
  background-color: var(--col-deepblue);
  margin: -5px 0px 0px 0px;
  padding:0px;
  color: #fff;
  text-align:center;
}
svg {
  width:100%;
  overflow:visible;
}

.wave {
  animation: wave 3s linear;
  animation-iteration-count:infinite;
  fill: #006f9e;
}
.drop {
  fill: var(--col-deepblue);

  animation: drop 8.2s linear infinite normal;
  stroke: var(--col-deepblue);
  stroke-width:0.5;
  transform: translateY(25px) ;
  transform-box: fill-box;
  transform-origin: 50% 100%;
}

.drop2 {
  animation-delay: 8s;
  animation-duration:8s;
}
.drop3 {
  animation-delay: -7s;
  animation-duration:8.4s;
}
.drop4 {
  animation-delay: 6.7s;
}
.drop5 {
  animation-delay: 7.7s;
  animation-duration:8.1s;
}
.drop6 {
  animation-delay: -7.1s;
  animation-duration:8.2s;
}
.gooeff {
  	filter: url(#goo);
}
#wave2 {
  animation-duration:10s;
  animation-direction: reverse;
  opacity: .6
}
#wave3 {
  animation-duration: 12s;
  opacity:.3;
}
@keyframes drop {
  0% {
    transform: translateY(25px); 
  }
  30% {
    transform: translateY(-10px) scale(.1);
  }
  30.001% {
    transform: translateY(25px) scale(1); 
  }
  70% {
    transform: translateY(25px); 
  }
  100% { 
    transform: translateY(-10px) scale(.1);  
  }
}
@keyframes wave {
  to {transform: translateX(-100%);}
}


.cot{
  width: 100%;
 
}
#copy{
  color: #101010;
  font-size:13px;
  font-weight: 600;
  margin-top: 100px;

}
