@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");


body{
  background-color: #ffffff;
}
footer div {
  background-color: var(--col-deepblue);
  margin: -5px 0px 0px 0px;
  padding:0px;
  color: #fff;
  text-align:center;
}
svg {
  width:100%;
  overflow:visible;
}

.wave {
  animation: wave 3s linear;
  animation-iteration-count:infinite;
  fill: #006f9e;
}
.drop {
  fill: var(--col-deepblue);

  animation: drop 8.2s linear infinite normal;
  stroke: var(--col-deepblue);
  stroke-width:0.5;
  transform: translateY(25px) ;
  transform-box: fill-box;
  transform-origin: 50% 100%;
}

.drop2 {
  animation-delay: 8s;
  animation-duration:8s;
}
.drop3 {
  animation-delay: -7s;
  animation-duration:8.4s;
}
.drop4 {
  animation-delay: 6.7s;
}
.drop5 {
  animation-delay: 7.7s;
  animation-duration:8.1s;
}
.drop6 {
  animation-delay: -7.1s;
  animation-duration:8.2s;
}
.gooeff {
  	filter: url(#goo);
}
#wave2 {
  animation-duration:10s;
  animation-direction: reverse;
  opacity: .6
}
#wave3 {
  animation-duration: 12s;
  opacity:.3;
}
@keyframes drop {
  0% {
    transform: translateY(25px); 
  }
  30% {
    transform: translateY(-10px) scale(.1);
  }
  30.001% {
    transform: translateY(25px) scale(1); 
  }
  70% {
    transform: translateY(25px); 
  }
  100% { 
    transform: translateY(-10px) scale(.1);  
  }
}
@keyframes wave {
  to {transform: translateX(-100%);}
}


.cot{
  width: 100%;
 
}
#copy{
  color: #101010;
  font-size:13px;
  font-weight: 600;
}


.heading::before{
  background: url(../img/best-team-page.jpg) no-repeat center center/cover;
  background-size: 100%;
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 40vh;
  z-index: -1;
  opacity: 0.6;
}
.heading h2{
  text-align: center;
  margin-top: 40px;
  padding-top: 100px;
  font-size: 3rem;
  /* color: rgb(17, 17, 17); */
  /* font-weight: bold; */
  font-style: italic;
}
